:root{
    --pink:#7D57BF
}

*{
    margin: 0; padding: 0;
    box-sizing: border-box;

    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}

section{
    padding: 2rem 9%;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
}

.logo{
    font-size: 3rem;
    color: #333;
    font-weight: bolder;

}

.logo span{
    color: var(--pink);
}

.navbar a{
    font-size: 2rem;
    padding: 0 1.5rem;
    color: #666;
}

.navbar a:hover{
    color: var(--pink);
}

header .icons a{
    font-size: 2.5rem;
    color: #333;
    margin-left: 1.5rem;
}

header .icons a:hover{
    color: var(--pink);
}
/*home*/

.home{
    display: flex;
    align-items: center;
    min-height: 100vh;
    background: #FBE4F6;
}

.home .content{
    max-width: 50rem;
}

.home .content h3{
    font-size: 6rem;
    color: #333;
}

.home .content span{
    font-size: 3.5rem;
    color: var(--pink);
    padding: 1rem 0;
    line-height: 1.5;
}

.home .content p{
    font-size: 1.5rem;
    color: #999;
    padding: 1rem 0;
    line-height: 1.5;
}

.btn{
    display: inline-block;
    margin-top: 1rem;
    border-radius: 5rem;
    background: #333;
    color: #fff;
    padding: .9rem 3.5rem;
    cursor: pointer;
    font-size: 1.7rem;
}

.btn:hover{
    background: var(--pink);
}

/*about secs*/

.heading {
    text-align: center;
    font-size: 4rem;
    color: #333;
    padding: 1rem;
    margin: 2rem 0;
    background: #D8B2FE;

}

.heading span{
    color: var(--pink);
}

.about .row{
    display: flex;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    padding: 2rem 0;
    padding-bottom: 3rem;
}

.about .row .imgdisplay{
    flex: 1 1 40rem;
    position: relative;
}

.about .row .imgdisplay img{
    width: 100%;
    border: 1.5rem solid #fff;
    border-radius: .5rem;
    height: 100%;
    box-shadow: 0 .5rem 1re, rgba(0, 0, 0, .1);
    object-fit: cover;
}

.about .row .content{
    flex: 1 1 40rem;
}

.about .row .content h3{
    font-size: 3rem;
    color: #333;
}

.about .row .content p{
    font: 1.5rem;
    color: #999;
    padding: 5rem 0;
    padding-top: 1rem;
    line-height: 1.5;
}

/*products*/

.product .boxcont{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.product .boxcont .box{
    flex: 1 1 30rem;
    box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
    border-radius: .5rem;
    border: .1rem solid rgba(0, 0, 0, .1);
    position: relative;
}

.product .boxcont .box .discount{
    position: absolute;
    top: 1rem;
    left: 1rem;
    padding: .7rem 1rem;
    font-size: 2rem;
    color: var(--pink);
    background: rgba(255, 51, 153, .05);
    z-index: 1 ;
    border-radius: .5rem;
}

.product .boxcont .box .imgs{
     position: relative;
     text-align: center;
     padding-top: 2rem;
     overflow: hidden;
}

.product .boxcont .box .imgs img{
   height: 25rem; 
}

.product .boxcont .box:hover .imgs img{
    transform: scale(1.1);
}

.product .boxcont .box .imgs .icons{
    position: absolute;
    bottom: -7rem;
    left: 0;
    right: 0;
    display: flex;
}

.product .boxcont .box .imgs .icons a{
    height: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    width: 50%;
    background: var(--pink);
    color: #fff;
}

.product .boxcont .box .imgs .icons .cart-btn{
    border-left: .1rem solid #fff7;
    border-right: .1rem solid #fff7;
    width: 100%;
}

.product .boxcont .box .imgs .icons a:hover{
    background: #333;
}

.product .boxcont .box:hover .imgs .icons{
    bottom: 0;
}

.product .boxcont .box .content{
    padding: 2rem;
    text-align: center;
}
.product .boxcont .box .content h3{
    font-size: 2.5rem;
    color: #333;
}

.product .boxcont .box .content .price{
    font-size: 2.5rem;
    color: var(--pink);
    font-weight: bolder;
    padding-top: 1rem;
}

.product .boxcont .box .content .price span{
    font-size: 1.5rem;
    color: #999;
    font-weight: lighter;
    text-decoration: line-through;
}

/*info container*/

.iconcont{
    background: #eee;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding-top: 5rem;
    padding-bottom: 5rem ;
}

.iconcont .icon{
    background: #fff;
    border: 1rem solid rgba(0, 0, 0, .1);
    padding: 2rem;
    display: flex;
    align-items: center;
    flex: 1 1 25rem;
}

.iconcont .icon img{
    height: 5rem;
    margin-right: 2rem;
}

.iconcont .icon h3{
    color: #333;
    padding-bottom: .5rem;
    font-size: 1.5rem;
}


.iconcont .icon span{
    color: #555;
    font-size: 1.3rem;
}

/*contect secs*/

.contact .row{
    display: flex;
    flex-wrap: wrap-reverse;
    gap: 1.5rem;
    align-items: center;
}

.contact .row form{
    flex: 1 1 40rem;
    padding: 2rem 2.5rem;
    box-shadow: 1 .5rem rgba(0, 0, 0, .1);
    border: .1rem solid rgba(0, 0, 0, .1);
    background: #fff;
    border-radius: .5rem;
}

.contact .row .image{
    flex: 1 1 40rem;
}

.contact .row .image img{
    width: 100%;
    
}

.contact .row form .box{
    padding: 1rem;
    font-size: 1.7rem;
    color: #333;
    text-transform: none;
    border: .1rem solid rgba(0, 0, 0, .1);
    border-radius: .5rem;
    margin: .7rem 0;
    width: 100%;
}

.contact .row form .box:focus{
    border-color: var(--pink);
}

.contact .row form textarea{
    height: 15rem;
    resize: none;
}

/*footer section*/

.footer .boxfooter{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.footer .boxfooter .box{
    flex: 1 1 40rem;
}

.footer .boxfooter .box h3{
    color: #333;
    font-size: 2.5rem;
    padding: 1rem 0;
}

.footer .boxfooter .box a{
    display: block;
    color: #666;
    font-size: 1.5rem;
    padding: 1rem 0;
}

 .footer .boxfooter .box a:hover{
    color: var(--pink);
    text-decoration: underline;
 }

 .footer .boxfooter .box img{
    margin-top: -1rem;
    width: 15rem;
 }